{% extends "base.html" %} {% load static %} {% block container %}

<form action="" id="formArticulo" enctype="multipart/form-data">
  <label for="">Codigo:</label>
  <input type="text" name="code" id="code" />

  <label for="">Descripcion:</label>
  <input type="text" name="descripcion" id="descripcion" />

  <label for="">Observacion:</label>
  <input type="text" name="observacion" id="observacion" />

  <label for="foto">Foto</label>
  <input type="file" name="foto" id="foto" />
  {% comment %} accept="image/*" capture="camera" {% endcomment %}

  <video
    id="video"
    autoplay
    playsinline
    style="display: none; width: 100%; max-width: 600px"
  ></video>
  <button type="button" id="startCamera" formnovalidate>Activar Cámara</button>
  <button type="button" id="takePhoto" style="display: none" formnovalidate>
    Tomar Foto
  </button>
  <canvas id="canvas" style="display: none"></canvas>

  <input type="submit" value="submit" />
</form>

<script src="{% static 'js/sweetAlert.js' %}"></script>
<script src="{% static 'js/articulos.js' %}"></script>

{% endblock container %}
